/* RESET */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* VARIABLES */
:root {
    --sidebar-width: 300px;
}

.container {
    display: flex;

    /* debug */
    height: 700px;
    background-color: lightblue;
}

/* HEADER */
header {
    height: 70px;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;

    /* debug */
    background-color: aquamarine;
}

.logo {
    width: var(--sidebar-width);
}

.header-nav {
    flex-grow: 1;
}

.header-list {
    display: flex;
    list-style-type: none;
    gap: 10px;
    align-items: center;
}

.actions {
    text-align: right;
}


/* PRINCIPLE SECTION */

.menu-nav {
    width: var(--sidebar-width);
    padding: 20px 10px;
    /* debug */
    background-color: lightgreen;
}

main {
    flex-grow: 1;
    padding: 20px;
    /* debug */
    background-color: lightpink;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80px;

    /* debug */
    background-color: blue;
}