/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
}

/* HEADER */
header {
    height: 100px;
    margin: 20px;

    /* debug */
    background-color: yellow;
}


/* MAIN */

main {
    display: flex;
    gap: 20px;
}

/* menu */
.menu {
    width: 25%;
    padding: 20px;
    margin-left: 20px;

    /* debug */
    background-color: pink;
    color: blueviolet;
}

.menu-title {
    padding-left: 10px;
}

ul {
    list-style-type: none;
}

nav.menu li {
    padding: 10px;
    margin: 10px;

    /* debug */
    background-color: red;
    color: white;
}

/* central section */
.central-section {
    flex-grow: 1;
    padding: 10px;

    /* debug */
    background-color: blueviolet;
}

.wrapper {
    border: 1px dashed white;
    padding: 10px;
}

.articles {
    background-color: white;
    margin: 10px 0;
    padding: 5px;
}

aside {
    padding: 20px;
    width: 25%;
    margin-right: 20px;
    text-align: center;

    /* debug */
    background-color: pink;
}



/* FOOTER */
footer {
    height: 100px;
    margin: 20px;
    background-color: lightblue;
}